#rent {
    padding: 4rem 0 0 0;
    height: 100vh;
    background-color: $lightGreen;


    h2 {
        position: relative;

        font-size: 1.5rem;
        font-weight: 700;
        color: $pale;
        text-transform: uppercase;
        text-align: center;

        &:after {
            position: absolute;
            content: "";
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);

            background-color: $pale;
            width: 5rem;
            height: 3px;
        }
    }


    .rent-map {
        margin-top: 6rem;
        display: flex;
        justify-content: center;

        // Carte Google
        #carte {
            width: 60%;
            height: 400px;
            margin-right: 1rem;
        }

        .rent-map-infos {
            background-color: $pale;
            padding: 0 1rem;
            max-width: 30%;
            height: 400px;

            h3 {
                font-size: 1.2rem;
                color: $darkGreen;
                text-align: center;
            }

            .infos-content {
                color: $blue;
                font-weight: 300;
                text-align: center;

                ul {
                    margin-top: 2rem;
                    margin-bottom: 3rem;
                    text-align: left;

                    li {
                        margin-bottom: 1rem;

                        span {
                            font-weight: 700;
                        }
                    }
                }

                .infos-content-reservation {
                    padding: .5rem 1.2rem;
                    background-color: $mediumGreen;
                    border: 2px solid $mediumGreen;

                    color: $white;
                    font-weight: 700;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;

                    transition: .3s;

                    &:hover {
                        background-color: $darkGreen;
                        border: 2px solid $darkGreen;

                        color: $white;
                    }
                }
            }
        }
    }


    .rent-confirmation {
        text-align: center;
        
        p {
            font-size: 1.5rem;
            color: $blue;
            font-weight: 700;
        }

        .cancelBike {
            padding: .55rem 1rem;
            background-color: $mediumGreen;
            border: 2px solid $mediumGreen;
            box-shadow: 2px 2px 0px rgba(0,0,0,0.2);

            font-size: 1rem;
            text-decoration: none;
            color: $white;
            font-weight: 700;
            transition: .3s;

            &:hover {
                background-color: $darkGreen;
                border: 2px solid $darkGreen;

                color: $white;
            }
        }
    }

}



/* ---> RESPONSIVE <--- */

@media (max-width: 1024px) {
    #rent {
        padding: 2rem 0 0 0;
    }

    .rent-map {
        flex-direction: column;
        margin-top: 4rem!important;
        
        #carte {
            width: 100%!important;
            height: 300px!important;
            margin-right: 1rem;
        }

        .rent-map-infos {
            min-width: 100%!important;
            height: auto!important;
        }
    
        .infos-content {
            padding-bottom: 2rem;

            ul {
                text-align: center!important;
                margin-bottom: 1.5rem!important;
                margin-top: 1rem!important;

                li {
                    font-size: 1rem;
                    margin-bottom: 0.5rem!important;
                }
            }

            .infos-content-reservation {
                font-size: 0.95rem;
            }
        }
    
    }
}

@media (max-width: 768px) {
    #rent {
        padding: 1rem 0 0 0!important;
        height: calc(100vh + 150px);

        h2 {
            font-size: 1.3em!important;
        }

        h3 {
            font-size: 1.1rem!important;
        }

        .infos-content {
            p {
                font-size: .85rem!important;
            }
        }

        .rent-confirmation {
            p {
                font-size: 1.1rem!important;
            }
        }

        ul {

            li {
                font-size: 0.85rem!important;
                margin-bottom: 0;
            }
        }

        .infos-content-reservation {
            font-size: 0.85rem!important;
        }
    }
}